mask_rcnn_crowai-food-challenge_0016.h5 
mask_rcnn_crowai-food-challenge_0021.h5 
mask_rcnn_crowai-food-challenge_0025.h5 
mask_rcnn_crowai-food-challenge_0027.h5 
mask_rcnn_crowai-food-challenge_0029.h5 
mask_rcnn_crowai-food-challenge_0030.h5 
mask_rcnn_crowai-food-challenge_0032.h5 
mask_rcnn_crowai-food-challenge_0039.h5 
mask_rcnn_crowai-food-challenge_0045.h5
